<div class="container">
    <h2>LICENCIA ELEGIDA</h2>
    <p>Dias 90</p>
    <p>Menual: subtotal</p>
    <p>TOTAL: 812938</p>
    <p>
        Seras redirigido a mercado pago para pagar esta cosa
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Provident ab quas eligendi, ad aut optio blanditiis itaque, 
        debitis impedit minima libero, sit ipsum hic nisi. Vel nam 
        delectus ab fugiat!
    </p>
    <p>Ante cualquier duda puedes contactarnos</p>
    <div class="row m-0 w-100">
        <div class="col-6">
            <button class="btn btn-outline-dark">CONTACTO 1</button>
        </div>
        <div class="col-6">
            <button class="btn btn-outline-dark">CONTACTO 2</button>
        </div>
    </div>
    <div>
        <button class="btn btn-primary">Ir A Pagar!</button>
    </div>    
</div>