<!--if esta validado y se obtuvo el usuario-->
<form *ngIf="habilitarFormulario==1" (ngSubmit)="ngSubmit()">
    <div class="form-group">
        <label for="newPassword">Password</label>
        <input type="password" class="form-control" id="newPassword" placeholder="Nueva Contraseña" name="newPassword" [(ngModel)]="newPassword">
    </div>
    <div class="form-group">
        <label for="repeatPassword">Password</label>
        <input type="password" class="form-control" id="repeatPassword" placeholder="Repetir Contraseña" name="repeatPassword" [(ngModel)]="repeatPassword">
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
<div *ngIf="habilitarFormulario==2">
    <h3>Error!</h3>
    <p>Este link ha expirado, por favor solicite nuevamente cambiar la contraseña.</p>
</div>

