<div>
    aca va el header todo lindo
</div>
<div>
    aca va el que hacemos y lo bueno que somos
    puede ir un video tmbn
</div>
<div>
    aca va el porque mejora tu negocio
    <!--
    <div class="container">
        <div class="card">
          <div class="content">
            <h2>Card One</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis numquam, alias laborum eaque natus dolor totam perspiciatis adipisci ipsum rem amet nobis commodi placeat!</p>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <h2>Card Two</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis numquam, alias laborum eaque natus dolor totam perspiciatis adipisci ipsum rem amet nobis commodi placeat!</p>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <h2>Card Three</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis numquam, alias laborum eaque natus dolor totam perspiciatis adipisci ipsum rem amet nobis commodi placeat!</p>
          </div>
        </div>
    </div>
    -->
</div>
<div class="container">
    <app-licencias></app-licencias>
</div>
<div class="container">
    <app-contacto></app-contacto>
</div>